@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fiba';
    src: url("../styles/fonts/fiba-regular_bigfontsite.com.otf");
}

@font-face {
    font-family: 'RobotoMonoBold';
    src: url("../styles/fonts/RobotoMono-Bold.ttf");
}

@font-face {
    font-family: 'RobotoMono';
    src: url("../styles/fonts/RobotoMono-VariableFont_wght.ttf");
}

.slick-next:before, .slick-prev:before {
    content: none !important;
}

#homeFeatured .slick-dots li {
    width: 100%;
    height: 150px;
    margin: 0 9px
}

#homeFeatured .slick-dots li:first-child {
    margin-left: 0;
}

#homeFeatured .slick-dots li:last-child {
    margin-right: 0;
}

#homeFeatured .slick-dots {
    bottom: unset !important;
    display: flex !important;
    flex-wrap: nowrap;
    height: 150px;
    padding-top: 10px;
}

#homeFeatured .slick-list {
    border-radius: 0.375rem;
}

#homeFeatured .slick-active .thumbnail {
    --tw-grayscale: grayscale(0);
}

@media only screen and (max-width: 767px) {
    #homeFeatured .slick-dots {
         display: none !important;
    }
}